$light-color: #f4f4f4;
$font-stack: Arial, Helvetica, sans-serif;
//$primary-color: #0e6cff; 
$primary-color: #e0ffff;
$secondary-color: #ff8700;

//set text color based on background color
@function setTextColor($color){
    @if(lightness($color) > 70) {
        @return #333;
    } @else {
        @return #fff;
    }
}


//set background & text color
@mixin setBackground_and_TextColor($color){
    background-color: $color;
    color: setTextColor($color);
}



